<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Parse" version="1.5.5" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.v4" version="22.2.1.0" targetFramework="monoandroid51" />
  <package id="Xamarin.Facebook.Android" version="4.6.0.0" targetFramework="monoandroid51" />
</packages>